{% extends 'base.html.twig' %}

{% block main %}
    <div>
        <h1>My_site</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id maximus velit.
            Mauris et imperdiet lacus, eu pretium purus. Aliquam maximus consequat libero, sit
            amet pellentesque enim sollicitudin gravida. Aliquam erat volutpat. Phasellus
            tincidunt venenatis urna imperdiet dictum. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia.</p>
    </div>
{% endblock %}